<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 [style.color] = "navBackGroundColor">
    Welcome to Dev's Angular App (Environment : {{title}})  !
  </h1>
</div>
<h2>Technologies used here: </h2>
<ul>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://angular.io/guide/quickstart">Angular 5</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://getbootstrap.com/docs/4.0/getting-started/introduction/">Bootstap 4.0</a></h2>
  </li>
  <li>
    <h2><a target="_blank" rel="noopener" href="https://docs.docker.com/get-started/">Docker & Containerization</a></h2>
  </li>
</ul>

